:root {  
  --vp-layout-max-width: 100%;
}

.VPDoc.has-aside .content-container {
    max-width: 1200px !important;
}

.content-container {
    contain-intrinsic-width: auto 20px !important;
    margin: 0 !important;
}

body {
    line-height: 1.2;
}

/* 强制覆盖代码块所有相关元素 */
div[class*="language-"],
pre,
code,
.line-numbers-rows,
.line-numbers-wrapper,
.token {
    line-height: 1.2 !important;
}
